@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Roboto&display=swap');

:root {
    --main-bg-color:#327aee;
  }
*{
    padding: 0;
    margin: 0;
}
header{
    
    background:var(--main-bg-color);
    font-family: 'Lato', sans-serif;
}
nav {
    display: flex;
    align-items: center;
    height: auto;
    padding: 0px 20px;
    justify-content: space-around;
    flex-wrap: wrap;
}
.menuicon{
    display: none;
}
.logo img{
    filter: invert();
    width: 60px;
}
nav ul{
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
}
nav ul li a{ 

    color: white;
    text-decoration: none;

}
nav ul li a:hover{
    font-weight:bolder ;
}
.search {
    display: flex;
    align-items: center;
}
.search input{
    width: 495px;
    height: 27px;
    border-radius: 5px;
    padding: 0 12px;
    font-family: sans-serif;
    
}
.btn{
    width: 60px;
    height: 27px;
    font-family: 'Lato';
    font-size: 13px;
}

.container{
    min-height:calc(100vh - 12vh - 12vh) ;
}
.slider{
    margin: 12px auto;
    width: 80vw;
    overflow: hidden;
}
.card{
    max-width:91vw;
    margin: 37px auto;
}
.cards{
display: flex;
overflow: hidden;


}
.card-item{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    margin:0 15px;
}
.card h2{
    font-family: 'Lato', sans-serif;
   
}
footer{
    height: 12vh;
    background-color:var(--main-bg-color);
    color: white;
    font-family: 'Lato', sans-serif;
    
}
.Copyright{
    text-align: center;
}
@media only screen and (max-width:900px) {
    nav ul{
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        display: none;
    }
    .search{
        width: 100%;
        margin-top: 20px;
        display: none;
    }
    .menuicon{
        display: inline;
    }
}